    page-event-detail {
        .event-detail {
            ion-card-header {
                text-align: center;
            }
            .add-guest-form {
                button {
                    margin-top: 16px;
                }
            }
            .profitable {
                color: #22BB22;
            }
        }
    }